<%-include('partial/header')-%>

  <body>
    <%-include('partial/navbar')-%>
      <div class="container"></div>
      <h1 class="logoname">Campus Clan</h1>
      </div>
  </body>
  <%-include('partial/footer')-%>