<%-include('partial/header')-%>

  <body>

    <nav class="navbar navbar-expand-lg " style="background: transparent; box-shadow: none;">
      <div class="container-fluid ">
        <a class="navbar-brand" href="/"><img src="images/Campus tribe-1.png" alt=""></a>
      </div>
    </nav>
    <div class="container">
      <h3>Welcome Back</h3>
      <div class="main-agileinfo">
        <div class="agileits-top">
          <form action="/login" method="POST">

            <div class="cred">

              <div class="input-grp">
                <input required="" type="email" name="username" autocomplete="off" class="credential credbody">
                <label class="user-label">Email</label>
              </div>

              <div class="input-grp">
                <input required="" type="password" name="password" autocomplete="off" class="credential credbody">
                <label class="user-label">Password</label>
              </div>

              <div class="forgot">
                <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
              </div>

            </div>

            <label class="checkbox">
              <input type="checkbox">
              <span class="checkmark"></span>
              <span class="text">Remeber me</span>
            </label>

            <input type="submit" value="LOGIN">

          </form>
        </div>

        <hr class="hr-text" data-content="or Continue With">
        <div class="social-icons">
          <a class="social-icon google" href="/auth/google" role="button">
            <i class="fa-brands fa-google"></i>
          </a>

          <a class="social-icon facebook" href="/auth/google" role="button">
            <i class="fa-brands fa-facebook fa-xl"></i>
          </a>

          <a class="social-icon github" href="/auth/google" role="button">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </div>
        <p class="signup">New Here?
          <a rel="noopener noreferrer" href="Register" class="">Sign in</a>
        </p>
      </div>


    </div>

  </body>
  <%-include('partial/footer')-%>