<%-include('partial/header')-%>

    <body>

        <div class="success">
            <h1>Sucessfully Registerd!</h1>
            <p><a href="/login">Login</a> to continue </p>
        </div>

    </body>
    <%-include('partial/footer')-%>