body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  /* The image used */
  background-image: url(../images/pexels-joyston-judah-933054.jpg);

  width: 100%;
  height: 110vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}
